$pink: #f51843;
$black: #000;
$white: #fff;
$gradient: linear-gradient(to bottom, #5ae8fe, #4fb7ff);
$light-sky: #5ae8fe;
$dark-sky: #4fb7ff;
$gray:rgba(128, 128, 128, 0.789);
$gold:#fec807;
$orange:#fd7522;